PORT=4001
DATABASE_URL=postgres://user:pass@host:5432/dbname
FRONTEND_URL=https://school-sportday.vercel.app
ADMIN_TOKEN=change-me
VAPID_PUBLIC_KEY=BOIUXhnKjz_5Dd7mgvd7r6nmmqcAR-abvUM95C3D4oCvexj7OeJZgMQBzNDZfomyrSZOQpNI2S8IiiJeg_6VvbQ
VAPID_PRIVATE_KEY=-5Wpf7iAv1KAYqyQlK0NTmnnIjpksRl5wiYK-uQ-TU9Y
VAPID_SUBJECT=mailto:admin@yourdomain.com
